/*!
Theme Name: sts
Theme URI: http://underscores.me/
Author: Rev.Media
Author URI: http://rev.media/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: sts
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

sts is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

/*!
Theme Name: _s
Theme URI: https://underscores.me/
Author: Automattic
Author URI: https://automattic.com/
Description: Hi. I'm a starter theme called <code>_s</code>, or <em>underscores</em>, if you like. I'm a theme meant for hacking so don't use me as a <em>Parent Theme</em>. Instead try turning me into the next, most awesome, WordPress theme out there. That's what I'm here for.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: _s
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

_s is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #3c3c3e;
	font-family: 'Chivo', sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

.wpcf7 p {
	margin-bottom: 1.25em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-box-shadow: 1px 3px 10px #888888;
    box-shadow: 0px 3px 10px #888888;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
    border-radius: 5px;
	background: #ff0000;
	color: rgba(255, 255, 255, 1);
	font-size: 24px;
	width: 100%;
	padding: 12px 24px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Default form submit button styles
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}
*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 2px solid #ff0000;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
	padding: 7px 0 6px 15px;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: right;
}

.main-navigation ul {
	position: absolute;
	right: 10px;
	top: 30%;
	list-style: none;
	margin: 0;
	padding-left: 0;
}
@media (min-width: 850px) {
	.main-navigation ul {
		right: 10%;
		top: 30%;
	}
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	color: #fff;
	background-color: #ff0000;
	padding: 6px 12px;
	border: 2px solid #fff;
	border-radius: 5px;
}
.main-navigation a:hover {
	display: block;
	text-decoration: none;
	color: #fff;
	background-color: #c10000;
	padding: 6px 12px;
	border: 2px solid #fff;
	border-radius: 5px;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: none;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 1em 1.5em;
}

.page {margin:0;}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/* Hide from page */
.entry-meta, .site-info, .cat-links, .comments-link, nav.navigation.post-navigation, .comments-area, h1.entry-title {display:none}


/*--------------------------------------------------------------
## Header Branding Bar
--------------------------------------------------------------*/
.site-branding {
	width: 100%;
	text-align: center;
	border-bottom: 3px solid #ff0000;
	padding: 0 0 10px 0;
	background-image: url(https://stufftrumpsays.com/wp-content/uploads/2019/08/StuffTrumpSays-header-star-pattern.png);
	background-repeat: repeat;
	position: relative;
}
.site-branding:after {
	content: '';
	border-bottom: 3px solid #ff0000;
	display: block;
	width: 100%;
}
.site-branding .custom-logo-link img {
	max-width: 150px;
	height: auto;
	margin: 10px auto;
}
@media (min-width:600px) {
	.site-branding .custom-logo-link img {
		max-width: 180px;
	}
}
.sts-featured-img {
	max-height: 420px;
	overflow: hidden;
	display: flex;
	align-items: center;
}
.sts-featured-img img {
	padding: 0 2px;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
ul.menu {
	list-style:none;
	margin:auto;
	padding:0;
	text-align:center;
}
.menu-footer-container ul.menu {
	width: fit-content;
	background:#fff;
	padding:12px;
	font-weight: 700;
}
.bottom-navigation ul.menu li {
	display: block;
	margin: 0 0 10px 0;
}
.bottom-navigation ul.menu li:last-child {
	margin: 0;
}
.bottom-navigation ul.menu li a {
	text-decoration:none;
	color:#3C3B6E;
}
.bottom-navigation ul.menu li a:hover {
	text-decoration:none;
	color:#ff0000;
}
.site-footer {
	min-height: 150px;
	width: 100%;
	text-align: center;
	border-top: 3px solid #ff0000;
	padding: 10px 0 0 0;
	background-image: url(https://stufftrumpsays.com/wp-content/uploads/2019/08/StuffTrumpSays-header-star-pattern.png);
	background-repeat: repeat;
}
.site-footer:before {
	content: '';
	border-top: 3px solid #ff0000;
	display: block;
	width: 100%;
}
.bottom-navigation {
	margin: 1em auto 2em;
}
@media (min-width: 600px) {
	.bottom-navigation ul.menu li {
		display:inline-block;
		margin: 0;
	}
	li.menu-item:after {
		content:' |';
		padding: 0 3px;
		font-weight: 300;
		color: #acacb3;
	}
	li.menu-item:last-child:after {
		content: '';
	}
	.site-footer {
		min-height: 120px;
	}
}
.footer-follow {
	margin: 2em auto;
	padding: 1.5em 1.5em 1em;
	background: #fff;
	max-width: max-content;
}
.footer-follow p {
	margin: 0;
	padding: 0 0 0.5em;
}
.footer-follow a {
	color: transparent;
}
.footer-follow img {
	max-width: 60px;
}

/*--------------------------------------------------------------
## Site Content, Main, and Right Rail Styling
--------------------------------------------------------------*/
.content-area{
	max-width: 100%; 
	margin: 20px;
}
@media (min-width: 600px) {
	.content-area{
		margin: 20px auto;
	}
}
.page .content-area {
	margin: 20px;
}
@media (min-width: 600px) {
.page .content-area {
    max-width: 800px;
    margin: 20px auto;
}
}


.left-rail-widgets {
	display: none;
}
.page .site-main {
	padding: 0 20px;
}
@media (min-width: 900px) {
	.content-area {
		display: flex;
	}
	.site-main {
		flex-basis: 70%;
	}
	.right-rail-widgets {
		flex-basis: 28%;
	}
	.page .site-main {
		flex-basis: 100%;
	}
	.page .right-rail-widgets, .page .left-rail-widgets  {
		flex-basis: 0%;
	}
}
@media (min-width: 1180px) {
	.content-area {
		display: flex;
		margin-right: 0;
	}
	.site-main {
		flex-basis: 54%;
	}
	.right-rail-widgets {
		flex-basis: 22%;
		margin-right: 1%;
	}
	.left-rail-widgets {
		flex-basis: 22%;
		margin-left: 1%;
		display: block;
	}
	.page .site-main {
		flex-basis: 100%;
	}
	.page .right-rail-widgets, .page .left-rail-widgets  {
		flex-basis: 0%;
	}
	div#content {
		max-width: 1420px;
		margin-left: auto;
		margin-right: auto;
	}
}


/*--------------------------------------------------------------
## Main Body & Columns
--------------------------------------------------------------*/
@media (max-width: 599px) {
	.quote-columns.wp-block-columns {
		flex-direction:column-reverse;
	}
	.quote-columns.wp-block-columns .wp-block-column:nth-child(1) {
		text-align: center;
		margin: 0px 0 0;
	}
}
@media (min-width: 600px) {
	.quote-columns.wp-block-columns .wp-block-column:nth-child(1) {
		margin: 25px 0 0 0;
		flex-basis:40%;
	}
	.quote-columns.wp-block-columns .wp-block-column:nth-child(2) {
		margin: -150px -5px 0 0;
		background: #fff;
		padding: 32px 20px 0px 40px;
		-webkit-border-radius: 5px 0 0 0; 
		-moz-border-radius: 5px 0 0 0; 
		border-radius: 5px 0 0 0;
		flex-basis:60%;
		position: relative;
	}
	.post-thumbnail {padding: 0 2px 0 0;}
}
.image-source {
	color:#acacb3;
	font-size:12px;
	margin:0;
}
.wp-block-image.fb, .wp-block-image.twitter {
	max-width:50px;
	margin:0 20px 0 0;
	display:inline-block;
}
.wp-block-image.mail {
	max-width:50px;
	margin: 0;
	display:inline-block;
}
p.quote {
	font-weight: 700;
	color: #3c3b6e;
	font-size: 24px;
	line-height: 120%;
	margin: 1em 0 0.5em;
	position: relative;
}
p.quote:before {
	content:'';
	width: 38px;
	height: 31px;
	background-image: url(https://stufftrumpsays.com/wp-content/uploads/2019/08/STS-quotation-begin.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
	top: -25px;
	left: -10px;
}
p.quote:after {
	content:'';
	width: 38px;
	height:31px;
	background-image: url(https://stufftrumpsays.com/wp-content/uploads/2019/08/STS-quotation-end.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
	bottom: -20px;
	right: -5px;
}
@media (min-width: 600px) {
	p.quote {
		font-size: 24px;
		margin: 0 0 15px;
	}
	p.quote:before {
		width: 55px;
		height:45px;
		top: -60px;
		left: -35px;
	}
	p.quote:after {
		width: 55px;
		height:45px;
		bottom: -20px;
		right: -20px;
	}
}
@media (min-width: 1000px) {
	p.quote {
		font-size: 32px;
	}
}
p.source-context {
	margin: 0;
	color: #acacb3;
	font-size: 14px;
}
@media (min-width: 600px) {
	p.source-context {
		margin: 0 0 25px;
	}
}
.quote-source {
	color: #3c3b6e;
	font-weight: 700;
}
.wp-block-button {
	margin: 0.5em 0 1.5em;
}
.wp-block-button__link {
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px; 
	border-radius: 0
}
.wp-block-button.flip-flop, .wp-block-button.generate-quote {
	box-shadow: 0px 3px 10px #888888;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;
}
.wp-block-button.flip-flop:hover, .wp-block-button.generate-quote:hover {
	box-shadow: none;
}
.wp-block-button.flip-flop a, .wp-block-button.generate-quote a {
	width: 100%;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;
	background: #ff0000;
}
.wp-block-button.flip-flop a {
	background: rgb(255,0,0);
	background: linear-gradient(90deg, rgba(255,0,0,1) 49%, rgba(60,59,110,1) 51%);
}
.wp-block-button.flip-flop {
	width: 80%;
	margin: 20px auto;
}
@media (min-width: 600px) {
	.wp-block-button.flip-flop {
		margin: 20px 0 0;
	}
}
.wp-block-button.generate-quote {
	font-weight: 700;
}
.wp-block-button.flip-flop a.wp-block-button__link {
	font-size: 16px;
}
.wp-block-button.generate-quote a.wp-block-button__link {
	font-size: 16px;
}
@media (min-width: 600px) {
	.wp-block-button.generate-quote a.wp-block-button__link {
		font-size: 24px;
	}
}



/*--------------------------------------------------------------
## Crunchify
--------------------------------------------------------------*/
.crunchify-link {
	padding: 2px 8px 4px 8px !important;
	color: white;
	font-size: 12px;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px;
	margin-right: 2px;
	cursor: pointer;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
	margin-top: 2px;
	display: inline-block;
	text-decoration: none;
}

.crunchify-link:hover,.crunchify-link:active {
	color: white;
}

.crunchify-twitter {
	background: #00aced;
}

.crunchify-twitter:hover,.crunchify-twitter:active {
	background: #0084b4;
}

.crunchify-facebook {
	background: #3B5997;
}

.crunchify-facebook:hover,.crunchify-facebook:active {
	background: #2d4372;
}

.crunchify-googleplus {
	background: #D64937;
}

.crunchify-googleplus:hover,.crunchify-googleplus:active {
	background: #b53525;
}

.crunchify-buffer {
	background: #444;
}

.crunchify-buffer:hover,.crunchify-buffer:active {
	background: #222;
}

.crunchify-pinterest {
	background: #bd081c;
}

.crunchify-pinterest:hover,.crunchify-pinterest:active {
	background: #bd081c;
}

.crunchify-linkedin {
	background: #0074A1;
}

.crunchify-linkedin:hover,.crunchify-linkedin:active {
	background: #006288;
}

.crunchify-social {
	margin: 20px 0px 25px 0px;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
}


/*--------------------------------------------------------------
## MailChimp Subscription
--------------------------------------------------------------*/
.mc_embed_signup {
	background: #000; 
	clear: left; 
	font-size: 14px;
	position: relative;
	color: #fff;
	margin: 50px 0;
}
.mc_embed_signup form {
	display: block; 
	position: relative; 
	text-align: center;
	padding: 40px 25px 0;
	z-index: 1;
}
@media (min-width: 600px) {
	.mc_embed_signup form {
		text-align:left;
		padding: 40px 0 40px 40px;
		width: 65%;
	}
}
.mc_embed_signup h2 {
	font-weight:bold; 
	padding:0; 
	margin:0 0 15px 0; 
	font-size: 30px;
	line-height: 100%;
}
.mc_embed_signup p {
	font-size: 16px;
	margin: 0;
	color: #acacb3;
}
.mc_embed_signup img {
	max-width: 80%;
	margin: 0 10% -5px;
}
@media (min-width: 600px) {
	.mc_embed_signup img {
		position: absolute;
		right: 0;
		bottom: 0;
		max-height: 100%;
		margin: 0;
	}
}
.mc_embed_signup input {
	border:1px solid #999; 
	-webkit-appearance:none;
}
.mc_embed_signup input[type=checkbox]{
	-webkit-appearance:checkbox;
}
.mc_embed_signup input[type=radio]{
	-webkit-appearance:radio;
}
.mc_embed_signup input:focus {
	border-color:#ff0000;
	outline: none;
}
.mc_embed_signup .button {
	clear: both; 
	background-color: #ff0000; 
	border: 0 none; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius:4px; 
	letter-spacing:.03em; 
	color: #FFFFFF; 
	cursor: pointer; 
	display: inline-block; 
	font-size:16px; 
	font-weight: 700;
	line-height: 32px; 
	margin: 0 5px 10px 0; 
	padding: 5px 0; 
	text-align: center; 
	text-decoration: none; 
	vertical-align: top; 
	white-space: nowrap; 
	width: auto; 
	transition: all 0.23s ease-in-out 0s;
	-webkit-box-shadow: none;
	box-shadow: none;
}
@media (min-width: 600px) {
	.mc_embed_signup .button {
		font-size: 20px;
	}
}
.mc_embed_signup .button:hover {
	background-color: #BA0000;
}
.mc_embed_signup .small-meta {
	font-size: 11px;
}
.mc_embed_signup .nowrap {
	white-space:nowrap;
}     
.mc_embed_signup .clear {
	clear:none; 
	display:inline;
}
.mc_embed_signup label {
	display:block; 
	font-size:16px; 
	padding-bottom:10px; 
	font-weight:bold;
}
.mc_embed_signup input.email {
	font-size: 15px; 
	display: block; 
	padding: 0 0.4em; 
	margin: 0 4% 10px 0; 
	min-height:32px; 
	width: 100%; 
	min-width:130px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
}
.mc_embed_signup input.button {
	display: block; 
	width: 100%; 
	margin: 0; 
	min-width: 90px;
}

.mc_embed_signup div#mce-responses {
	float:left; 
	top:-1.4em; 
	padding:0em .5em 0em .5em; 
	overflow:hidden; 
	width:90%;
	margin: 0 5%; 
	clear: both;
}
.mc_embed_signup div.response {
	margin:1em 0; 
	padding:1em .5em .5em 0; 
	font-weight:bold; 
	float:left; 
	top:-1.5em; 
	z-index:1; 
	width:80%;
}
.mc_embed_signup #mce-error-response {
	display:none;
}
.mc_embed_signup #mce-success-response {
	color:#529214; 
	display:none;
}
.mc_embed_signup label.error {
	display:block; 
	float:none; 
	width:auto; 
	margin-left:1.05em; 
	text-align:left; 
	padding:.5em 0;
}

/* Modifications for shop page */
.wp-block-columns.bg-white {background: #fff;padding: 0px 20px;margin:0 0 50px;}
.wp-block-columns.bg-white-more {background: #fff;padding: 0px 20px;margin:0}
h3.bg-white {background: #fff;padding: 20px 20px 0;; margin:0;}